:root {
  --primary-color: #0055ff;
  --overlay-color: rgba(0, 0, 0, 0.75);
  --menu-speed: 0.75s;
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

.marker {
  background-image: url("mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#map {
  width: 100%;
  margin-bottom: -3vh;
  height: 50vh;
}

header h1 {
  padding-top: 2vh;
}

header,
nav {
  background: #0e2b61;
  color: white;
}

nav {
  display: flex;
  width: 100%;
  font-weight: bold;
  justify-content: space-around;
  padding-bottom: 1%;
}

nav a {
  color: black;
  color: white;
  font-weight: bold;
}

/* reusable stlyes */
.caps {
  text-transform: uppercase;
  color: #3377ff;
  font-weight: 900;
}
.underline {
  text-decoration: underline;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.hero {
  width: 100%;
  height: 35vh;
  background: url("conference.jpg") no-repeat fixed;
  display: flex;
}

.hero .hero-content {
  position: relative;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  color: white;
}

.hero .hero-content p {
  font-size: 1.05rem;
}

.hero .hero-content h1,
.hero .hero-content p,
.hero .hero-content a {
  margin: auto;
  color: inherit;
}

.hero .hero-content h1,
.hero .hero-content p {
  position: relative;
  animation: heroheading 1s ease forwards;
}

.hero .hero-content a {
  animation: heroa 3s ease;
}

@keyframes heroheading {
  0% {
    /* top: -2000px; */
    transform: scale(0.7, 0.7);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heroa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero .hero-content a {
  border: 1px solid white;
  padding: 0.5%;
  border-radius: 4px;
}

/* about */
.about {
  width: 90%;
  margin: 10vh auto;
}

/* client */
.client {
  background: #3377ff3b;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 95%;
  text-align: center;
  border-radius: 15px;
  padding: 1%;
}

.reverse {
  flex-direction: row-reverse;
}

.client img {
  border-radius: 50%;
  width: 23vw;
  height: 20vh;
}

/* services */
.services {
  margin: auto;
  width: 80%;
}

.service {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2vh;
}

.services .service h4 {
  font-weight: bold;
}

.services img {
  height: 17vh;
  border-radius: 8px;
}

.services img:hover {
  opacity: 0.85;
  cursor: pointer;
}

/* contact form */
.contact-form {
  margin: 5vh 0;
}

form #form {
  width: 50%;
  margin: 2vh auto;
}

#form input,
#form h3,
#form textarea {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1.75vh;
  display: block;
}

#form input,
#form textarea {
  border: 1px solid #222;
  border-radius: 4px;
  padding: 0.5rem;
}

#form #submit-btn {
  width: 25%;
  margin: 0 auto;
}

#submit-btn {
  background: var(--primary-color);
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 20px;
  transition: all 0.9s ease;
}

#submit-btn:hover {
  background: #528cff;
  cursor: pointer;
}

#error {
  text-align: center;
  color: red;
}

.w40 {
  width: 70%;
  margin: auto;
}

/* footer */
footer {
  margin-top: 5vh;
  padding: 1%;
  background: linear-gradient(to right, black, #111);
  color: white;
  font-weight: bold;
}

.footer {
  display: flex;
  flex-direction: column;
}

footer a {
  color: white;
  /* display: inline; */
  margin: 1vh 0vw;
}

/* media queries */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav a {
    margin: 0 38% 2vh 38%;
  }

  .services img {
    height: 9vh;
    border-radius: 8px;
  }

  .client img {
    height: 9vh;
  }

  header nav {
    display: none;
  }

  .hidden {
    display: inline;
  }
}

@media screen and (min-width: 1450px) {
  .hero {
    background-size: 100% 100%;
  }
}
