* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

header,
nav {
  background: #0e2b61;
  color: white;
}

nav {
  display: flex;
  width: 100%;
  font-weight: bold;
  justify-content: space-around;
}

nav a {
  color: black;
  color: white;
  font-weight: bold;
}

/* reusable stlyes */
.caps {
  text-transform: uppercase;
  color: #3377ff;
  font-weight: 900;
}
.underline {
  text-decoration: underline;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.hero {
  width: 100%;
  height: 45vh;
  background: url("conference.jpg") no-repeat fixed;
  display: flex;
}

.hero .hero-content {
  position: relative;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.hero .hero-content h1 {
  animation: btn 3s ease-in;
}

.hero .hero-content h1,
.hero .hero-content a {
  margin: auto;
  color: white;
  animation: hero 3s ease;
}

@keyframes hero {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero .hero-content a {
  border: 1px solid white;
  padding: 0.5%;
  border-radius: 4px;
}

/* about */
.about {
  width: 90%;
  margin: 10vh auto;
}

/* client */
.client {
  position: relative;
  background: #3377ff3b;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 60%;
  text-align: center;
  border-radius: 15px;
  padding: 1%;
}

.reverse {
  flex-direction: row-reverse;
}

.client img {
  border-radius: 50%;
  width: 23vw;
  height: 20vh;
}

/* services */
.services {
  margin: auto;
  width: 80%;
}

.service {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2vh;
}

.services .service h4 {
  font-weight: bold;
}

.services img {
  height: 17vh;
  border-radius: 8px;
}

.services img:hover {
  opacity: 0.85;
  cursor: pointer;
}

/* contact form */
.contact-h2 {
  margin: 1vh auto;
}

h4 {
  padding: 0.5%;
}

.contact-form {
  display: block;
  padding: 3%;
  width: 40%;
  margin: 4vh 0 0 5%;
}

.contact-form input {
  display: block;
  margin: 2vh auto;
  padding: 1%;
  width: 70%;
  border: 0.1px black solid;
  border-radius: 4px;
}

.contact-form textarea {
  display: block;
  margin: 2vh auto;
  padding: 1%;
  width: 70%;
  border: 0.1px black solid;
  border-radius: 4px;
}

.contact-form #submit-btn {
  background: #3377ff;
  color: white;
  width: 30%;
  font-weight: bold;
}

.contact-form #submit-btn:hover {
  background: rgba(51, 119, 255, 0.9);
  cursor: pointer;
  color: white;
}

.w80 {
  width: 80%;
  margin: auto;
}

/* footer */
footer {
  margin-top: 5vh;
  padding: 1%;
  background: linear-gradient(to right, black, #111);
  color: white;
  font-weight: bold;
}

footer a {
  color: white;
  display: inline;
  margin: 5vh 3vw;
}

/* media queries */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav a {
    margin: 0 38% 2vh 38%;
  }

  .client img {
    height: 9vh;
  }
}

@media screen and (min-width: 1450px) {
  .hero {
    background-size: 100% 100%;
  }
}
